.description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
}

.description p {
  display: flex;
  align-items: flex-start;
  color: var(--color-text-muted);
  gap: 0.6rem;
  margin: 0;
}

.logo {
  flex-shrink: 0;
  width: 3rem;
  height: 2rem;
  color: var(--color-text-attention);
}

.alert {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  width: 100%;
  max-width: 37rem;
  padding: 2rem 3rem;

  border-radius: var(--border-radius-large);
  background-color: var(--color-background-error);
  border: 1px solid var(--color-border-error);
}

.alertIcon {
  flex-shrink: 0;
  font-size: 3rem;
  color: var(--color-icon-alert);
}

.alertText {
  margin: 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-body-small);
  line-height: 1.4;
}
